{% extends "base_app.html.twig" %}

{% block content %}
    <div class="articles">
        <p>Géogourmand localise les spécialités culinaires autour de vous. Choisissez votre point de départ, le type de spécialité que vous recherchez, paramétrez la zone de recherche et régalez vous !</p>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}



