<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
        <link href="{{ asset("css/geostyle.css") }}" rel="stylesheet">
    {% endblock %}
    <title>Geogourmand</title>
</head>

<body>
<header>
    <div id="geogourmand">
        <h1>Géogourmand</h1>
        <p>Identifiez les spécialités qui vous entourent !</p>
    </div>
    <nav>
        <button>Options</button>
        <button>Mon compte</button>
        <button>Afficher la carte</button>
    </nav>
</header>

<p>{{ dump(specialtiesToDisplay) }}</p>


<main data-specialties="{{ specialtiesToDisplay }}">
    {% block content %}

    {% endblock %}
    <div id="myMap">
    </div>
</main>
<footer>
    <div id="legalNotice"></div>
</footer>
{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnam1p2tgjseVn16mmQuh6c4gDJWuT0Tc"></script>
    <script src="{{ asset("scripts/scripts.js") }}"></script>
{% endblock %}


</body>

</html>